@mixin media($dis) {
    max-width: 100%;
    margin: 0 auto;
    display: $dis;
}

@mixin media-circle($w, $h) {
    width: $w;
    height: $h;
    border-radius: 100%;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}