body {
    font-family: map($typi, f__roboto);
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.4rem;
}

.card {
    &--gallery {
        .card__title {
            font-size: 1rem;
        }
    }
}

.header {
    .menu {
        a {
            text-decoration: none;
            font-size: 1.2rem;
        }
    }
}

.hero-banner-slider {
    .slick-next, .slick-prev {
        &:before {
            font-size: 30px;
        }
    }
}